
<div class="d-flex p-2 flex-row border">
  <div class="d-flex flex-column ms-3 flex-fill" >
        <h3 class="preview-text">{{ post.title|e }} </h3>
        <p class="preview-text">{{ post.body|e }} </p>
        <p class="preview-text">from {{ post.author.username }} </p>

     </div> 
    </div>
  </div>
</div>